@CHARSET "UTF-8";

html,body{height:100%}

.loginTitleContainer{
	max-width:500px;
	padding:1em 0;
	/* border:1px solid black; */
	border-radius:5px;
	margin-bottom:2em;
	text-align:center;
	box-shadow:0px 0px 30px black;
}

.logoContainer{
	text-align:center;
	max-width:500px;
	margin-bottom:1em;
}

.loginTitleContainer span{
	font-size:2em;
}

.loginFormRadius{
	border-radius:4px;
}

.loginFormItem{
	margin:1.5em 0;
}

.bodycontainer{
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

/* .msgcontainer{
	border:1px solid grey;
	margin-bottom:20px;
	max-width:500px;
	padding:20px;
	display: none;
} */

.maincontainer{
	max-width:500px;
	padding:20px;
	/* border:1px solid gray; */
	box-shadow:0px 0px 30px black;
}

.loginButton{
	width:100%;
}

.bottomContainer{
	max-width:500px;
	padding:1em 0;
	border-radius:5px;
	margin-top:2em;
	text-align:center;
	box-shadow:0px 0px 30px black;
}

.bottomContainer button{
	float:left;
	width:50%;
	border-radius:5px;
	position:relative;
	/* margin-left:10px; */
}

.bottomContainer button:hover{
	top:-5px;
}
.bottomContainer button:focus {
	outline:0;
}

.bottomContainer button[forget]{
	background-color:orange;
}